<div class="instant_help">
  <p>
    получите
    <br />квалифицированную
    <br />юридическую помощь
    <br />прямо сейчас
  </p>
  <div class="instant_help_phone">
    <span class="instant_phone">+7 911 490 6194</span><br />
    <span class="instant_phone">+7 952 798 1734</span>
  </div>
  <a class="instant_help_skype_link" href="#">
    <div class="instant_help_skype">
      skype: yuraspect
    </div>
  </a>
</div>