<div class="container">
  <div class="headline">
    <h3>Наша судебная практика</h3>
    <%= link_to 'вся судебная практика', jurisprudences_path, :class => 'hover-effect law_practice_link' %>
  </div>
  <ul class="thumbnails">
    <%= render @jurisprudences %>
  </ul>
</div>
