<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3>Наша судебная практика</h3>
      </div>
      <ul class="thumbnails">
        <% @jurisprudences.each do |jurisprudence| %>
          <li class="span4 law_practice_table_cell">
            <div class="thumbnail-style thumbnail-kenburn law_thumbnail">
              <div class="law_practice_title">
                <h3>
                    <%= link_to jurisprudence.name, jurisprudence_path(jurisprudence), :class => 'hover-effect' %>
                </h3>
              </div>
              <div class="law_practice_description">
                <%= raw_short_content_for jurisprudence %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%= render 'pages/index/partners' %>
    </div>
  </div>
</div>