<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3>Образцы документов, заявлений</h3>
      </div>
            <ul>
              <% @doc_categories.each do |doc_category| %>
                <% if doc_category.docs.any? %>
                  <li>
                    <div class="docs_categories_names"><span><%= doc_category.name %></span></div>
                    <ul>
                      <% doc_category.docs.each do |doc| %>
                        <li>
                          <%= link_to doc.name, doc_load_path(doc), :class => 'docs_links hover-effect' %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <% if @docs_without_category.any? %>
              <li>
                <div class="docs_categories_names"><span>Остальные документы</span></div>
                <ul>
                  <% @docs_without_category.each do |doc| %>
                    <li>
                      <%= link_to doc.name, doc_load_path(doc), :class => 'docs_links hover-effect' %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% end %>
            </ul>
        </div>
    <div id="clients-flexslider" class="flexslider home clients">
      <%= render 'pages/index/partners' %>
    </div>
    </div>
  </div>