<% if @docs.present? %>
  <div class="headline">
    <h3>Результаты поиска по образцам документов</h3>
  </div>
  <% @docs.each do |doc| %>
    <%= render 'pages/search/results/doc', doc: doc %>
  <% end %>
<% end %>