<% if @pages.present? %>
  <div class="headline">
    <h3>Результаты поиска по страницам</h3>
  </div>
  <% @pages.each do |page| %>
    <%= render 'pages/search/results/page', page: page %>
  <% end %>
<% end %>