<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
          <h3><%= raw @page.name %></h3>
      </div>
      <div class="content_text ">
        <%= raw @page.content %>
      </div>
      <div class="contacts_form">
        <%= render 'shared/feedback' %>
      </div>
      <%= render 'pages/index/partners' %>
    </div>
  </div>
</div>

